body {
  font-family: 'Poppins';
  font-size: 1rem;
  background-color: #040926;
  color: white;
}

main {
  margin: auto;
  max-width: 1048px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  padding-bottom: 0rem;
  margin: 0;
}

section {
  padding-bottom: 1rem;
}

.job-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.job-logo {
  height: 3rem;
}

.photo {
  border-radius: 9999px;
  height: 100px;
  aspect-ratio: 1 / 1;
}

.photo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills {
  display: flex;
  gap: 5rem;
}
